@use './variaveis' as *;
.camera-box{
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    max-width: 850px;
    margin: 2rem;
    text-align: center;
    color: $claro;
    display: flex;
    flex-direction: column;

}
h2{
    font-size: 2rem;
}

.preview{
    width: 90%;
    background: $fundo;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_camera{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 1%;
    margin: 3rem;
    border-radius: 10px;
}

.camera{
    width: 100%;
    align-items: center;
    display: flex;
    border: 2px solid blue($color: #000000);
    justify-content: center;
}

video, img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;

}

@media (max-width: 768px) {
    .card_camera > h2 {
        font-size: 20px;
        
    }
}

