.corpo {
  background-image: url('../assets/atomic.jpg');
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;   
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0000001a;
    justify-content: center;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}