.corpo {
  background-image: url('../assets/earth.webp'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 10vw;
  height: 10vh;
  align-items: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ebe1e11a;
    justify-content: center;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}