@use './variaveis' as *;


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 20px;
    margin: 50px;
    gap: 20px;
}


.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 24px;
    margin-bottom: 10px;
}


.form-fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}


.form-legend {
    font-size: 18px;
    font-weight: bold;
}


.form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}


.form-input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


.submit-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
}


.location-btn {
    background-color: #007BFF;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.location-btn:hover {
    background-color: #0056b3;
}


.error-message {
    color: red;
}


.map {
    width: 100%;
    height: 1000px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


@media (max-width: 600px) {
    .form {
        width: 90%;
    }

    .map {
        height: 300px;
    }
}
